.content-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    background-color: var(--theme-color);
}

.content-page-side-bar {
    position: relative;
    background-color: #ffffff33;

    padding: 0.6rem;

    border-right: 2px solid var(--shadow-color);

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.content-page-side-bar-item {
    position: relative;
    flex-basis: 3rem;
    border-radius: 0.3rem;

    display: flex;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    box-sizing: border-box;
    column-gap: 0.6rem;
    align-items: center;
    justify-content: flex-start;

    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    background-color: #ffffff30;
}

.content-page-side-bar-item:not(.content-page-side-bar-item-no-shadow) {
    box-shadow: 0 0 2px 0 var(--shadow-color);
}

.content-page-side-bar-item:not(.content-page-side-bar-item-no-shadow):hover {
    box-shadow: 0 0 4px 0 var(--deep-shadow-color);
}

.content-page-side-bar-item:not(.content-page-side-bar-item-no-shadow):active {
    box-shadow: 0 0 4px 0 var(--shadow-color);
}

.content-page-side-bar-dragger {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    transform: translateX(50%);
    background: transparent;
}

.content-page-container {
    position: relative;
    flex: 1 1 100px;
    background-color: #ffffff66;
}

.--content-page-side-bar-drag-cursor {
    cursor: ew-resize
}

.content-page-side-bar-logo {
    width: 3rem;
    filter: hue-rotate(180deg);
}

.content-page-side-bar-logo-text {
    font-size: 1.7rem;
    flex-grow: 1;
    text-align: center;
}